p, nav ul {

    margin: 0;
   
    padding: 0;
   
   /* this removes default margin/padding
   
    from these elements. You might want to add
   
    a few others in here.*/
   
   }
   
   img {
   
    display: block;
   
    max-width: 100%;

    max-height: 400px;

    margin-bottom: 8px; 
   /* this sets images as block elements
   
    and makes sure they don't bust out of
   
    their containers, and that they maintain
   
    their aspect ratio. */
   
   }
   
   /* end of RESET Styles */

   .spacer {
    padding: 20px;
   }

   .sectionSpacer {
    padding: 250px;
   }


h1 {
    flex-direction: row;
    justify-content: center;
    font-family: "fig-serif", sans-serif;
    font-weight: 599;
    font-style: italic;
    font-size: 64px;
    color: #0E4ED7
}


h2 {
    font-family: "avenir-lt-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3063D1;
}

h3 {
    color: rgb(71, 71, 71);
    font-family: "avenir-lt-pro", sans-serif;
}



#gallery {
    font-family: "avenir-lt-pro", sans-serif;
    font-style: normal;
    font-size: 24px;
    display: grid;
    justify-self: end; /* Aligns nav to the right */
    padding: 10px;
    margin-top: 5px;

}

#intro {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.introText {
    font-size: 24px;
    text-align: center;
    margin-top: -16px;
    color: #656565;
}

.introYears {
    font-size: 24px;
    margin-top: -8px;
    color: #585757;
}

nav {
    font-family: "fig-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 28px;
}

p {
    font-family: "avenir-lt-pro", sans-serif;
    color: #656565;
}

body {
   place-content: center;
}

.s2Header {
    font-family: "fig-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: left;
    margin-bottom: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;
    width: 100%;
    margin: auto;
    max-width: 1200px; /* max width for larger screens */
    font-size: 32px;
}

#section3 p {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    max-width: 1200px; /* max width for larger screens */
    font-family: "fig-serif", sans-serif; 
    font-size: 64px;
    font-weight: 400;

}

#section4scroll {
  max-width: 1200px;       /* Keeps it narrower than the screen */
  margin: 0 auto;        /* Centers the nav bar */
  position: sticky;
  top: 50px;
}

#section4scroll ul {
  display: flex; /* Makes the list items horizontal */
  gap: 1rem; /* Optional: space between items */
  padding: 0;
  margin: 0;
  list-style: none;
}

#section4scroll ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 28px;
  font-family: "fig-serif", sans-serif;
  flex: 0 0 auto;        /* Prevents items from shrinking */
}

#section4scroll ul li a {
  text-decoration: none;
  color: black;
}


/* am i even using these grids? check later ... */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr; /* two equal columns */
    place-items:start;
    height: 80vh; /* full height for vertical centering */
    box-sizing: border-box; /* includes padding in width/height */
    gap:10px; /* space between sections */
    padding-top: 100px;
    max-width: 1200px; /* max width for larger screens */
    margin: 0 auto; /* centers the grid */
    font-family: "avenir-lt-pro", sans-serif;
    
}



.outfitDisplay {
    justify-items: center;
    background-color: rgba(213, 216, 230, 0.175);
    padding: 20px 40px;
    border-radius: 8px;
    max-width: 100%;
}



.scroll-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px; /* width of each item */
  gap: 100px; /* space between items */
  overflow-y: hidden; /* hides vertical overflow */
  overflow-x: auto;
  padding: 1rem;
  max-width: 1200px;       /* Keeps it narrower than the screen */
  margin: 0 auto;        /* Centers the nav bar */
  overflow: scroll;    /* Hides overflow */
  white-space: wrap;
}

#finalGallery {
    text-align: center;
    font-size: 18px;
    margin-top: -320px;
    margin-bottom: 100px;
}

.list li {
    line-height: 30px;
    color: rgb(75, 75, 75);
}

a,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

a:hover {
    color: #557ed5;
}